---
title: Wtsn
items: [
	{
		name: 'name1',
		date: '01'
	},
	{
		name: 'name2',
		date: '02'
	},
	{
		name: 'name3',
		date: '03'
	}
]
---
<!DOCTYPE html>
<html lang="en">
{% include "partials/_head.html" %}
<body class="day">
	<!-- <select name="" id="" class="js-my-select" placeholder="placeholderText" data-icon="my-icon">
	  <option value="text-1">text-1</option>
	  <option value="text-2">text-2</option>
	  <option value="text-3">text-3</option>
	</select>
	<select name="" id="" class="js-my-select">
	  <option value="text-1">text-1</option>
	  <option value="text-2" selected>text-2</option>
	  <option value="text-3">text-3</option>
	</select> -->
	<!-- <h1>Live</h1>
	{% for item in items %}
	<div class="item">
		<div class="item__name">{{ item.name }}</div>
		<div class="item__date">{{ item.date }}</div>
	</div>
	{% endfor %}
	<i class="icon icon-down"></i>
	<i class="icon icon-next"></i>
	<i class="ic-home"></i>
	<i class="ic-weight"></i>
	<svg class="svg svg-down"><use xlink:href="img/svg.svg#svg-down"></use></svg> -->
	<!-- <div id="box"></div> -->
<!-- 	<h1>Привет</h1>
	<button data-color="day">Day</button>
	<button data-color="night">Night</button>
	<a href="https://yandex.ru" data-color="hello-dos">Hello Dos</a> -->

	<div class="slider js-slider">
		<div class="slider__inner">
			<div class="slider__row js-slider-row">
				<div class="slide" data-id="0">0</div>
				<div class="slide" data-id="1">1</div>
				<div class="slide" data-id="2">2</div>
				<div class="slide" data-id="3">3</div>
				<div class="slide" data-id="4">4</div>
			</div>
		</div>
	</div>

	<div class="nav">
		<div class="nav__item js-slider-btn" data-num="0"></div>
		<div class="nav__item js-slider-btn" data-num="1"></div>
		<div class="nav__item js-slider-btn" data-num="2"></div>
		<div class="nav__item js-slider-btn" data-num="3"></div>
		<div class="nav__item js-slider-btn" data-num="4"></div>
	</div>

	<script src="js/app.js"></script>
</body>
</html>